@import url("https://use.typekit.net/ast8csu.css");

*   {

    box-sizing: border-box;
}

body {

    font-family: 'avalanche', sans-serif;
    display: flex;  
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.bg {
	background: url("image/Bearded_Dragons.jpg") no-repeat center center/cover;
	position: absolute;
	top: -30;
	left: -30;
	width: calc(100vw + 60px);
	height: calc(100vh + 60px);
	z-index: -1;
	filter: blur(0px)
}

.loading {
	font-size: 50px;
	color: #000000;
}
